name: CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

concurrency:
    group: ci-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    clippy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Clippy
              run: cargo clippy -- -D warnings
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Tests
              run: cargo test
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Build
              run: cargo build
