name: Deploy to Github Pages

run-name: Deploy to Github Pages ${{ github.ref_name }}

permissions:
    contents: read
    pages: write
    id-token: write
    packages: read

on:
    workflow_dispatch:

concurrency:
    group: "pages"
    cancel-in-progress: true

env:
    PAGES_URL: https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/

jobs:
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: "pnpm"
                  cache-dependency-path: web/pnpm-lock.yaml

            - name: Configure npm for GitHub Packages
              run: |
                  echo "@chfuchte:registry=https://npm.pkg.github.com" >> ~/.npmrc
                  echo "//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}" >> ~/.npmrc
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Install dependencies
              working-directory: web
              run: pnpm install --frozen-lockfile

            - name: Build project
              working-directory: web
              run: pnpm run build
              env:
                  VITE_BASE_PATH: ${{ env.PAGES_URL }}

            - name: Setup Pages
              uses: actions/configure-pages@v5

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: "web/dist"

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
